var config = {};

config.account_host = 'https://account.lab.fi-ware.org';

config.keystone_host = 'cloud.lab.fi-ware.org';
config.keystone_port = 4731;

config.app_host = 'www.google.es';
config.app_port = '80';

config.username = 'pepProxy';
config.password = 'pepProxy';

config.check_permissions = false;

module.exports = config;